<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Home</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
      integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <script>
      const ROOM_ID = '<%= roomId %>';
    </script>
    <div class="home">
      <h1>Welcome to Sampark friends</h1>
      <h4>Meet your friend here, Totally secure and free!</h4>
      <h6 style="color: aliceblue; text-align: center; padding-bottom: 20px;">
        Create your room now and share it with your friends for unlimated video
        chat
      </h6>
      <div>
        <button
          class="btn btn-success"
          onclick="setURL()"
          style="margin-right: 5px;"
        >
          Create room
        </button>
        <a href="/joinRoom" id="roomID"
          ><button
            class="btn btn-primary"
            onclick="roomIdPassing()"
            id="tp"
            disabled
          >
            Go to room
          </button></a
        >
        <!-- <a
          href="/joinRoom"
          id="roomID"
          class="btn btn-primary"
          onclick="roomIdPassing()"
          >Go to room</a
        > -->
      </div>
      <div class="paragraph" style="color: white; padding-top: 20px;"></div>
    </div>
    <script src="base.js"></script>
  </body>
</html>
