body {
  margin: 0;
  padding: 0;
}

#video-grid {
  display: flex;
  justify-content: center;
}

video {
  height: 300px;
  width: 400px;
}

.main {
  display: flex;
  height: 100vh;
}
.main__left {
  flex: 0.8;
  display: flex;
  flex-direction: column;
}
.main__right {
  flex: 0.2;
}

.main__videos {
  display: flex;
  background-color: black;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

.main__controls {
  display: flex;
  color: #d2d2d2;
  background-color: #1c1e20;
  padding: 5px;
  justify-content: space-between;
}
.main__controls_block {
  display: flex;
}
.main__controls_btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px 10px;
  cursor: pointer;
  min-width: 80px;
}

.main__controls_btn:hover {
  background-color: #343434;
  border-radius: 5px;
}
.main__controls_btn i {
  font-size: 24px;
}

.leave_meeting {
  color: #eb534b;
}

.main__right {
  display: flex;
  flex-direction: column;
  background-color: #242324;
  border-left: 1px solid;
  border-color: #3d3d42;
}
.main__header {
  color: #f5f5f5;
  text-align: center;
}
.main__chat_window {
  flex-grow: 1;
  overflow-y: scroll;
}
.main__message_container {
  padding: 22px 12px;
  display: flex;
}

.main__message_container input {
  flex-grow: 1;
  background-color: transparent;
  border: none;
  color: #f5f5f5;
}

.messages {
  color: white;
  list-style: none;
}

.unmute {
  color: rgb(207, 10, 10);
}

.stop {
  color: rgb(207, 10, 10);
}
